In [1]:
import pandas as pd
import os
import numpy as np
import csv

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
#for each subfolder in IGDB_metadata_merged
for folder in os.listdir('IGDB_metadata_merged'):
    total = pd.DataFrame()
    if folder != '.DS_Store':
        #for each file in subfolder
        for file in os.listdir('IGDB_metadata_merged/'+folder):
            if file != '.DS_Store':
                #load file
                df = pd.read_csv('IGDB_metadata_merged/'+folder+'/'+file)
                #add to total
                total = pd.concat([total,df])

    with open(os.path.join("final_dataset",f"all_games_{folder}.csv"), 'w', newline='', encoding='utf-8') as file:
                writer = csv.writer(file, quoting=csv.QUOTE_MINIMAL)
                # Write header
                writer.writerow(total.columns)
                # Write data
                for _, row in total.iterrows():
                    writer.writerow(row)

In [2]:
#read all csv files in final_dataset
all_files = os.listdir('../final_dataset')
all_files = [x for x in all_files if x != '.DS_Store']
all_files = [x for x in all_files if 'screenshots' not in x]
for file in all_files:
    print(file)
    p = pd.read_csv(os.path.join("..","final_dataset",file))
    display(p.head())

all_games_PC.csv

,first_release_date,genres,id,name,platforms,summary,storyline,rating,main,extra,completionist,review_score,review_count,people_polled
0,1018396800,[5],274203,Short 'n Quick,[6],this is a techstyled map taking place in a war...,Missing,Missing,NaN,NaN,NaN,NaN,NaN,NaN
1,1019606400,[5],256819,Caverns of Darkness,[6],The final rift was closed and the Hell War was...,Missing,Missing,NaN,NaN,NaN,NaN,NaN,NaN
2,1017964800,"[26, 31]",232860,"Nu, pogodi! Vypusk 1: Pogonya",[6],The wolf decides to take revenge on the Hare f...,Missing,Missing,NaN,NaN,NaN,NaN,NaN,NaN
3,1019779200,"[12, 15, 16]",228979,Power Dolls 5,[6],The fifth entry in Kogado Studios allfemale me...,Missing,Missing,NaN,NaN,NaN,NaN,NaN,NaN
4,1020124800,[2],225648,Kapsyljakt med Anki & Pytte,[6],A pointandclick game based on the Swedish chil...,Missing,Missing,NaN,NaN,NaN,NaN,NaN,NaN

all_videos.csv

                                 id_video                  name
0  http://youtube.com/watch?v=KlDseF-LhgU        Gameplay Video
1  http://youtube.com/watch?v=o0KzXDnleOg               Trailer
2  http://youtube.com/watch?v=rUNEhHTjZlY        Gameplay video
3  http://youtube.com/watch?v=2KNXCYYuHmc  Announcement Trailer
4  http://youtube.com/watch?v=ernTZniAi-M        Gameplay Video

video_ids.csv

   id_game                                           id_video
0   275199                                            Missing
1   227215            http://youtube.com/watch?v=1nHWax_gU48
2   134076            http://youtube.com/watch?v=KcrY88Yqkw0
3   110887  http://youtube.com/watch?v=WhT0oBiZFlM#http://...
4     9356            http://youtube.com/watch?v=6bf3z8sAly0

genres.csv

   genre_id     genre
0         4  Fighting
1         5   Shooter
2         7     Music
3         8  Platform
4         9    Puzzle

platforms.csv

   158    Commodore CDTV
0  339         Sega Pico
1    8     PlayStation 2
2   39               iOS
3   94  Commodore Plus/4
4  144         AY-3-8710

all_games_Xbox.csv

,first_release_date,genres,id,name,platforms,summary,storyline,rating,main,extra,completionist,review_score,review_count,people_polled
0,1033862400,[14],166490,FILA World Tour Tennis,[11],Missing,Missing,Missing,NaN,NaN,NaN,NaN,NaN,NaN
1,1034208000,[13],62228,Jockey's Road,[11],Jockeys Road was developed by veteran horserac...,Missing,Missing,NaN,NaN,NaN,NaN,NaN,NaN
2,1034640000,[14],20795,TransWorld Snowboarding,[11],TransWorld Snowboarding offers huge vibrant re...,Missing,Missing,0.0,0.0,0.0,80.0,1.0,0.0
3,1034035200,"[9, 15]",6229,Whacked!,[11],In Whacked you are one of seven demented conte...,Missing,Missing,5.0,0.0,20.0,53.0,2.0,2.0
4,1035676800,[14],6215,Toxic Grind,[11],In the year 2097 BMX riding has been outlawed ...,Missing,Missing,0.0,0.0,0.0,0.0,0.0,0.0

all_games_Nintendo.csv

,first_release_date,genres,id,name,platforms,summary,rating,storyline,main,extra,completionist,review_score,review_count,people_polled
0,1002844800,"[14, 33]",259743,Tony Hawk's Pro Skater 2,[4],Tony Hawks Pro Skater 2s Nintendo 64 version w...,Missing,Missing,9.48,13.34,61.48,85.0,271.0,132.0
1,1002240000,"[2, 5, 9, 14, 26, 31, 32]",130018,ScummVM,"[5, 6, 9, 14, 20, 23, 34, 37, 38, 39, 46, 130]",ScummVM is a program which allows you to run c...,Missing,Missing,NaN,NaN,NaN,NaN,NaN,NaN
2,1002153600,"[4, 8]",19421,The Powerpuff Girls: Chemical X-Traction,"[4, 7]",Join the Powerpuff Girls to stop the villains ...,Missing,Missing,0.92,0.00,0.00,38.0,4.0,2.0
3,1004054400,"[11, 31]",2239,Pikmin,"[4, 21]",Pikmin is a whole new breed of gameplay from N...,82.15159863406373,Captain Olimar a man of high vocabulary and th...,7.95,8.21,8.31,81.0,557.0,500.0
4,1004227200,[14],914,Tony Hawk's Pro Skater 3,"[6, 8, 11, 14, 21]",You may not be able to live like the legend bu...,81.11003796693261,Missing,8.85,15.15,37.04,81.0,241.0,137.0

all_games_PlayStation.csv

,first_release_date,genres,id,name,platforms,summary,storyline,rating,main,extra,completionist,review_score,review_count,people_polled
0,1580169600,"[25, 31]",208486,Shadow the Ronin: The Revenge to the Samurai,[48],Dokuganryū a legendary samurai of ancient capi...,Missing,Missing,NaN,NaN,NaN,NaN,NaN,NaN
1,1578960000,"[10, 13]",187104,Track Mayhem,[48],Hop into a space ship and race on a reflex tes...,Missing,Missing,NaN,NaN,NaN,NaN,NaN,NaN
2,1580342400,[13],150327,I x She Tell,"[6, 48, 130]",At long last we the student council have won ...,Missing,Missing,NaN,NaN,NaN,NaN,NaN,NaN
3,1579219200,"[13, 30, 33]",147570,Adventure Pinball Bundle,"[6, 48, 130, 167]",Enjoy 3 games in one with the perfect reproduc...,Missing,Missing,NaN,NaN,NaN,NaN,NaN,NaN
4,1580342400,"[14, 33]",147117,Arcade Archives: Tecmo Bowl,"[48, 130]",Tecmo Bowl is an American football game releas...,Missing,Missing,NaN,NaN,NaN,NaN,NaN,NaN